
   
<nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink="mentors" routerLinkActive="active" class="nav-link" >Mentor List</a>
        </li>
        <li class="nav-item">
            <a routerLink="management" routerLinkActive="active" class="nav-link" >Management</a>
        </li>

    </ul>
</nav>