<h3 class="mt-4">Approved requests: </h3>
<table class="table table-striped">
<thead>
    <tr>
        <th>Employee name</th>
        <th>Mentor name</th>
        <th>Equipment</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let r of requests">
        <td>{{r.employeeName}}</td>
        <td>{{r.mentorName}}</td>
        <td>{{r.equipmentName}}</td>
        <td>{{r.type}}</td>
        <th class="font-italic text-success">approved</th>
    </tr>
</tbody>
</table>
