<h3 class="mt-4">Mentors: </h3>
<table class="table table-striped">
<thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>View requests</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let mentor of mentors">
        <td>{{mentor.firstName}}</td>
        <td>{{mentor.lastName}}</td>
            <td>
            <button class="btn btn-primary" (click)="onMentorClick(mentor.id)">View requests</button>
            </td>
    </tr>
</tbody>
</table>
