<div class="row mt-4">
<div class="col-6">
<h3>Employee's equipment: </h3>
<table class="table table-striped">
<tbody>
    <tr *ngFor="let eq of equipment">
        <th>{{eq.name}}</th>
    </tr>
</tbody>
</table>
</div>
<div class="col-6">
    <h3>Send request for new equipment </h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <select class="browser-default custom-select col-4" ngModel name="equipmentId" required>
        <option disabled value="">Select equipment</option>
        <option *ngFor="let e of allEquipment" [value]="e.id">
            {{e.name}}
        </option>
    </select>
    <button class="btn btn-success" type="submit">Send request</button>
    </form>
    <label>{{output}}</label>
</div>
</div>