<h3 class="mt-4">Employees: </h3>
<table class="table table-striped">
<thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>View equipment</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>
            <button class="btn btn-primary" (click)="onClickViewEquipment(employee.id)">
                View equipment
            </button>
        </td>
    </tr>
</tbody>
</table>
