<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <p>Your request was sent successfully!</p>
  <div class="alert-box-actions">
    <button class="btn btn-primary" (click)="onClose()">Ok</button>
  </div>
</div>
