<h3 class="mt-4">Requests: </h3>
<table class="table table-striped">
<thead>
    <tr>
        <th>Employee name</th>
        <th>Mentor name</th>
        <th>Equipment</th>
        <th>Type</th>
        <th>Status</th>
        <th>Approve</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let r of requests">
        <td>{{r.employeeName}}</td>
        <td>{{r.mentorName}}</td>
        <td>{{r.equipmentName}}</td>
        <td>{{r.type}}</td>
        <td *ngIf="r.approved===true" class="font-italic text-success">approved</td>
        <td *ngIf="r.approved===false" class="font-italic text-warning">pending</td>
        <td>
            <button class="btn btn-warning" (click)=onClickApprove(r.id) *ngIf="r.approved===true">
                    Disapprove
            </button>
            <button class="btn btn-success" (click)=onClickApprove(r.id) *ngIf="r.approved===false">
                Approve
        </button>
        </td>
        <td>
            <button class="btn btn-danger" (click)=onClickDelete(r.id)>
                    Delete
            </button>
        </td>
    </tr>
</tbody>
</table>
